.container {
  position: fixed;
  top: 0;
  height: calc(100vh - 56px) !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: calc(60px + 230px);
  background-size: cover;
  overflow-y: scroll;
  background: linear-gradient(to bottom, #1876D1 0, #1876D1 5rem, var(--gray-bgc) 5rem);
  overflow-x: hidden;
  transition: .4s;
  /* overscroll-behavior: none; */
}
.container::-webkit-scrollbar {
  display: none
}
.list-container {
  position: relative;
  top: 0;
}
.fabIcon {
  position: fixed !important;
  right: 1rem !important;
  bottom: 5rem !important;
  width: 4rem !important;
  height: 4rem !important;
}
.bottomDrawer :global(.MuiPaper-root) {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.container.hide {
  padding-top: calc(60px + 3rem) !important;
}
